{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'posts/css/theme.css' %}">
    <link rel="shortcut icon" type="image/png" href="#">

    <title>{% block title %}Jinwoo Blog{% endblock title %}</title>
  </head>
  <body>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
  </body>
</html>
